@model MusicFall2016.Models.Album
@{
    ViewData["Title"] = "Home Page";
}

<div class="container" id="home-div">
    <h2>Welcome to the music database!</h2>
    <h2>Select the above tabs or the buttons below to go to the albums, artists, and genres.</h2>
</div>



<div class="btn-container">
    <div class="btn-toolbar">
        <form action="Albums/Details" method="get">
            <a class="btn btn-lg btn-info" label="btn btn-default center-block" href="http://localhost:2264/Albums/Details">Go to Albums</a>
        </form>
        <form action="Artists/Details" method="get">
            <a class="btn btn-lg btn-info" label="btn btn-default center-block" href="http://localhost:2264/Artists/Details">Go to Artists</a>
        </form>
        <form action="Genres/Details" method="get">
            <a class="btn btn-lg btn-info" label="btn btn-default center-block" href="http://localhost:2264/Genres/Details">Go to Genres</a>
        </form>
        <form action="Playlists/Index" method="get">
            <a class="btn btn-lg btn-info" label="btn btn-default center-block" href="http://localhost:2264/Playlists/Index">Go to Playlists</a>
        </form>
    </div>
</div>

