@model IEnumerable<MusicFall2016.Models.Artist>
@{
    ViewData["Title"] = "Artists";
}
<h2>Details</h2>

<form action="Create" method="get">
    <div>
        <button id="createArtist">
            Create Artist
        </button>
    </div>
</form>
<form action="\Home\Index" method="get">
    <button>Go back to Home Page</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Bio</th>
        </tr>
    </thead>
    @foreach (var artist in Model)
    {
        <tr>
            <td>@artist.Name</td>
            <td>@artist.Bio</td>

            <td>
                <a class="btn btn-sm btn-default" asp-action="Update" asp-route-id="@artist.ArtistID">Edit</a>
                <a class="btn btn-sm btn-default" asp-action="Retrieve" asp-route-id="@artist.ArtistID">Details</a>

            </td>
        </tr>


    }
</table>
