@model MusicFall2016.Models.LoginViewModel
    @{
        ViewData["Title"] = "Login";
    }
    <h3>Enter your credentials</h3>

<form asp-action="Login" method="post">
    Email <p><input type="text" asp-for="Email" /></p>
    <span asp-validation-for="Email"></span>
    Password <p><input type="password" asp-for="Password"/></p>
    <span asp-validation-for="Password"></span>

    <button class="button" id="login">Login</button>


</form>
