@model MusicFall2016.Models.Playlist
@{
    ViewData["Title"] = "Playlists";
}
<br />
<br />

<form asp-action="Playlist" method="post">
    <button class="button" id="playList">Create a playlist</button>
</form>

