@model MusicFall2016.Models.RegisterViewModel
@{
    ViewData["Title"] = "Account Registration";
}
<h3>Register a New Account</h3>

<form asp-action="Register" method="post">
    Email <p><input type="text" asp-for="Email" value="@Model.Email" /></p>
    <span asp-validation-for="Email"></span>
    Password <p><input type="text" asp-for="Password" value="@Model.Password" /></p>
    <span asp-validation-for="Password"></span>
    Confirm Password <p><input type="text" asp-for="confirmPassword" value="@Model.confirmPassword" /></p>
    <span asp-validation-for="confirmPassword"></span>

    <button class="button" id="register">Register your account</button>


</form>
