@model MusicFall2016.Models.ApplicationUser
@{
    ViewData["Title"] = "Account Registration";
}
<h3>Register a New Account</h3>

<form asp-action="Register" method="post">
    Email <p><input type="text" asp-for="Email" value="@Model.Email" /></p>
    <span asp-validation-for="Email"></span>
    User Name <p><input type="text" asp-for="UserName" value="@Model.UserName" /></p>
    <span asp-validation-for="UserName"></span>
    Confirm Email <p><input type="text" asp-for="confirmEmail" value="@Model.confirmEmail" /></p>
    <span asp-validation-for="confirmEmail"></span>

    <button>Register your account</button>


</form>
