@model IEnumerable<MusicFall2016.Models.Genre>
@{
    ViewData["Title"] = "Genre";
}
<h2>Details</h2>
<div class="row">
    <span class="label">Create Genre:</span>
    <asp:TextBox ID="genre" runat="server"></asp:TextBox><span id="duplicate"></span>
</div>
<form action="\Home\Index" method="get">
    <button>Go back to Home Page</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    @foreach (var genre in Model)
    {
        <tr>
            <td><a asp-action="Genre" asp-route-id="@genre.GenreID">@genre.Name</a></td>

            <td>
                <a asp-action="Update" asp-route-id="@genre.GenreID">Edit</a>
                <a asp-action="Retrieve" asp-route-id="@genre.GenreID">Details</a>


            </td>
        </tr>


    }
</table>