@model IEnumerable<MusicFall2016.Models.Genre>
@{
    ViewData["Title"] = "Genre";
}
<h2>Details</h2>
<form action="Create" method="get">
    <div>
        <button id="createArtist">
            Create Genre
        </button>
    </div>
</form>
<form action="\Home\Index" method="get">
    <button>Go back to Home Page</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    @foreach (var genre in Model)
    {
        <tr>
            <td><a asp-action="Genre" asp-route-id="@genre.GenreID">@genre.Name</a></td>

            <td>
                <a class="btn btn-sm btn-default" asp-route-id="@genre.GenreID">Edit</a>
                <a class="btn btn-sm btn-default" asp-route-id="@genre.GenreID">Details</a>


            </td>
        </tr>


    }
</table>