@model MusicFall2016.Models.Album
@{
    ViewData["Title"] = "Create an Album:";
}
<h3>Create Album:</h3>
<form asp-action="Create" method="post">
    <div>
        <div>Title <p><input type="text" id="Title" asp-for="Title" value="" /></p></div>
        <span asp-validation-for="Title"></span>
        <div>Artist <p><select asp-for="ArtistID" asp-items="ViewBag.ArtistList" name="ArtistID" class="btn-lg"></select></p></div>
    <span asp-validation-for="ArtistID"></span>
    <div>Genre <p><select asp-for="GenreID" asp-items="ViewBag.GenreList" name="GenreID" class="btn-lg"></select></p></div>
        <span asp-validation-for="GenreID"></span>
    <div>Price <p><input type="text" asp-for="Price" value="" /></p></div>
        <span asp-validation-for="Price"></span>
    </div>

       <button>Add album</button>


</form>

<form action="Details" method="get">
    <button>Go back</button>
</form>

