@model MusicFall2016.Models.Playlist
@{
    ViewData["Title"] = "Delete a Playlist:";
}
<h2>Delete Playlist:</h2>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="playListID" />
    <input type="text" asp-for="name" />
    <input type="submit" asp-action="Delete" class="btn btn-sm btn-default" value="Submit">
</form>


