@model MusicFall2016.Models.Playlist
@{
    ViewData["Title"] = "Update a Playlist:";
}
<h2>Update a Playlist:</h2>

<form asp-action="Update" method="post">
    <input type="hidden" asp-for="playListID"  />
    <input type="text" asp-for="name" />
    <input type="submit" asp-action="Update" class="btn btn-sm btn-default" value="Submit">
</form>

<form action="/Playlists/Index" method="get">
    <button class="btn btn-sm btn-default">Go back</button>
</form>


