body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:yellow;
}
div.container{
    text-align:left;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
input#Title{
    width:200px;
}


/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
.btn-toolbar{
    margin-left:300px
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

#home-div{

    text-align:center;
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-primary{
    margin-right: 30px;
    padding-right:4em;
}
.btn{
    padding-left: 24px;
}
.navbar-inverse{
    background-color:green;
    border-radius: 30px;
    text-decoration-color:black;
}

div.container.body-content{
text-align:left;
}